# Node.js dependencies
node_modules/
# npm debug log
npm-debug.log
# Yarn debug log
yarn-debug.log
# Yarn integrity file
.yarn-integrity
# PM2 logs
.pids
logs
*.log
*.gz

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build files
/build
/dist

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS system files
.DS_Store

# Editor and IDE directories
.vscode/
.idea/

# Optional coverage directory
coverage

# Temporary files
tmp/
temp/
